= javascript_include_tag "vendor/jquery/jquery.min.js"
-# =    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
-#  <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
-#    <script src="../../assets/vendor/popper.min.js"></script>
-#    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
-#
-#    <!-- JS Implementing Plugins -->
-#    <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
-#    <script src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>
-#    <script src="../../assets/vendor/appear.js"></script>
-#    <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
-#    <script src="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
