%header#js-header.u-header.u-header--sticky-top.u-header--toggle-section.u-header--change-appearance{"data-header-fix-effect" => "slide", "data-header-fix-moment" => "200"}
  .text-center.text-lg-left.u-header__section.u-header__section--hidden.u-header__section--light.g-bg-white.g-brd-bottom.g-brd-gray-light-v4.g-py-20
    .container
      .row.flex-lg-row.align-items-center.justify-content-lg-start
        .col-6.col-sm-3.col-lg-2
          / Logo
          %a.js-go-to.navbar-brand{"data-type" => "static", :href => "#!"}
            %img.img-fluid.g-width-150{:alt => "Logo", :src => "assets/images/logo.png"}/
          / End Logo
        .col-6.col-sm-9.col-lg-10
          .row
            .col-sm.g-brd-right--sm.g-brd-gray-light-v4
              .g-pa-10--lg
                %span.icon.icon-screen-smartphone.g-valign-middle.g-font-size-18.g-color-primary.g-mr-5
                %span.text-uppercase.g-font-size-13 Call Us
                %strong.d-block.g-pl-25 +469 548 521
            .col-sm.g-hidden-lg-down.g-brd-right--sm.g-brd-gray-light-v4
              .g-pa-10--lg
                %span.icon.icon-clock.g-valign-middle.g-font-size-18.g-color-primary.g-mr-5
                %span.text-uppercase.g-font-size-13 Opening time
                %strong.d-block.g-pl-25 Mon-Sat: 08.00 - 18.00
            .col-sm.g-hidden-sm-down.g-brd-right--sm.g-brd-gray-light-v4
              .g-pa-10--lg
                %span.icon.icon-envelope.g-valign-middle.g-font-size-18.g-color-primary.g-mr-5
                %span.text-uppercase.g-font-size-13 Email us
                %strong.d-block.g-pl-25 market@info.com
            .col-sm.g-hidden-sm-down
              %ul.list-inline.mb-0.g-pa-10--lg
                %li.list-inline-item.g-valign-middle.g-mx-3
                  %a.d-block.u-icon-v3.u-icon-size--sm.g-rounded-50x.g-bg-gray-light-v4.g-color-gray-light-v1.g-bg-primary--hover.g-color-white--hover{:href => "#!"}
                    %i.fa.fa-facebook.g-font-size-default
                %li.list-inline-item.g-valign-middle.g-mx-3
                  %a.d-block.u-icon-v3.u-icon-size--sm.g-rounded-50x.g-bg-gray-light-v4.g-color-gray-light-v1.g-bg-primary--hover.g-color-white--hover{:href => "#!"}
                    %i.fa.fa-twitter.g-font-size-default
                %li.list-inline-item.g-valign-middle.g-mx-3
                  %a.d-block.u-icon-v3.u-icon-size--sm.g-rounded-50x.g-bg-gray-light-v4.g-color-gray-light-v1.g-bg-primary--hover.g-color-white--hover{:href => "#!"}
                    %i.fa.fa-instagram.g-font-size-default
  .u-header__section.u-header__section--dark.g-bg-gray-dark-v1.g-py-15{"data-header-fix-moment-classes" => "u-shadow-v18"}
    %nav.navbar.navbar-expand-lg.py-0
      .container
        / Navigation
        #navBar.collapse.navbar-collapse.align-items-center.flex-sm-row.g-mr-40--sm
          %ul#js-scroll-nav.navbar-nav.text-uppercase.g-font-weight-700.g-py-10--md.mr-auto
            %li.nav-item.g-mr-15--lg.g-mb-7.g-mb-0--lg.active
              %a.nav-link.g-color-primary--hover.p-0{:href => "#home"}
                Home
                %span.sr-only (current)
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#about"} About
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#services"} Services
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#skills"} Skills
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#offers"} Offers
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#gallery"} Gallery
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#FAQ"} FAQ
            %li.nav-item.g-mx-15--lg.g-mb-7.g-mb-0--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#testimonials"} Testimonials
            %li.nav-item.g-ml-15--lg
              %a.nav-link.g-color-primary--hover.p-0{:href => "#contact"} Contact
        / End Navigation
        / Search
        .g-hidden-md-down.text-uppercase.g-valign-middle
          %a.btn.btn-md.text-uppercase.u-btn-primary.g-font-weight-700.g-font-size-12.g-brd-none.g-rounded-4.g-py-12.g-px-15{:href => "#!"} Get a Quote
        / End Search
        / Responsive Toggle Button
        %button.navbar-toggler.btn.g-pos-rel.g-line-height-1.g-brd-none.g-pa-0.g-pos-abs.g-top-minus-8.g-right-0{"aria-controls" => "navBar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navBar", "data-toggle" => "collapse", :type => "button"}
          %span.hamburger.hamburger--slider
            %span.hamburger-box
              %span.hamburger-inner
        / End Responsive Toggle Button
/ End Header
