/ Header
%header#js-header.u-header.u-header--static
  .u-header__section.u-header__section--light.g-bg-white.g-transition-0_3.g-py-10
    %nav.js-mega-menu.navbar.navbar-expand-lg.hs-menu-initialized.hs-menu-horizontal
      .container
        / Responsive Toggle Button
        %button.navbar-toggler.navbar-toggler-right.btn.g-line-height-1.g-brd-none.g-pa-0.g-pos-abs.g-top-3.g-right-0{"aria-controls" => "navBar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navBar", "data-toggle" => "collapse", :type => "button"}
          %span.hamburger.hamburger--slider
            %span.hamburger-box
              %span.hamburger-inner
        / End Responsive Toggle Button
        / Logo
        %a.navbar-brand.d-flex{:href => "/index.html"}
          %img{:src => "/assets/images/logo.png"}
        / End Logo
        / Navigation
        #navBar.collapse.navbar-collapse.align-items-center.flex-sm-row.g-pt-10.g-pt-5--lg.g-mr-40--lg
          %ul.navbar-nav.text-uppercase.g-pos-rel.g-font-weight-600.ml-auto
            / Info
            %li.nav-item.g-mx-10--lg.g-mx-15--xl
              %a.nav-link.g-py-7.g-px-0{:href => "#about"} ソーシャルハックデーとは
            / End Info
            / Event
            %li.nav-item.g-mx-10--lg.g-mx-15--xl
              %a.nav-link.g-py-7.g-px-0{:href => "#event"} 今後のイベント
            / End Event
            / Project
            %li.nav-item.g-mx-10--lg.g-mx-15--xl
              %a.nav-link.g-py-7.g-px-0{:href => "#projects"} 進行中プロジェクト
            / End Project
        / End Navigation
/ End Header
