/ Our Recent Projects
%section.g-py-100
  .container
    %header.g-mb-50
      .u-heading-v2-3--bottom.g-brd-primary.g-mb-20
        %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase 進行中プロジェクト
      %p.g-font-size-16 ソーシャルハックデーに持ち込まれ、開発が進んでいるプロジェクト達です。興味があるプロジェクトがあったら是非参加してみてください。
    .row
      .col-lg-4.col-md-6.g-mb-30.g-mb-0--lg
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img6.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Nulla ipsum dolor sit
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img12.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +21
      .col-lg-4.col-md-6.g-mb-30.g-mb-0--lg
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img2.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Adipiscing elitut
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img4.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +8
      .col-lg-4.col-md-6
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img1.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Hac habitasse platea
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img6.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +13
/ End Our Recent Projects
