//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #444;

// Primary Color
$g-color-primary: #f00;

// Custom Color
$g-theme-color-gray-light-v1: #f8f8f8;
$g-theme-color-gray-light-v2: #b8b8b8;
$g-theme-color-gray-light-v3: #f1f1f1;
$g-theme-color-gray-light-v4: #f5f5f5;
$g-theme-color-gray-light-v5: #c9c9c9;
$g-theme-color-gray-light-v6: #efefef;
$g-theme-color-gray-light-v7: #f9f9f9;
$g-color-gray-light-v8: #767676;
$g-color-gray-light-v9: #8e8e8e;
$g-theme-color-gray-light-v10: #999ba0;
$g-theme-color-gray-dark-v1: #2c2c2c;