/* Add here all your css styles (customizations) */
@media (min-width: 768px) {
  .u-info-v9-1::before {
    left: 12%;
    width: 78%;
} }

.g-fullwidth {
  width: 100%;
}
.min-80rem {
  min-width: 300px;
}
.project_header_ {
  position: sticky;
  top: 0px;
  background-color: white;
  margin-top:25px;
  z-index: 10;
}
