//
// Variables and Mixins
//
@import "variables.op-shipping";
@import "../../../../lib/include/scss/unify";

/* Typography */
p {
  color: $g-color-gray-dark-v3;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $g-theme-color-gray-dark-v1;
}

a {
  &:hover,
  &:active,
  &:focus {
    color: $g-color-primary;
  }
}

/* Hamburger */
.hamburger {
  padding: 0;
}

.hamburger-box,
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 22px;
}

.u-header__section--dark .hamburger-inner,
.u-header__section--dark .hamburger-inner::after,
.u-header__section--dark .hamburger-inner::before {
  background-color: $g-color-primary;

  .hamburger:hover & {
    background-color: $g-color-primary;
  }
}

.hamburger-box {
  height: 14px;
}

.hamburger--slider .hamburger-inner {
  top: 0;
}

.hamburger--slider .hamburger-inner:before {
  top: 6px;
}

.hamburger--slider .hamburger-inner:after {
  top: 12px;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -12px, 0) rotate(-90deg);
}

/* Main navigation */
.navbar-nav {
  .nav-item {
    .nav-link:hover,
    &.active .nav-link {
      color: $g-color-primary !important;
    }
  }
}

/* Colors */
.g-theme-color-gray-light-v2 {
  color: $g-theme-color-gray-light-v2 !important;

  &--hover:hover {
    color: $g-theme-color-gray-light-v2 !important;
  }
}

.g-color-gray-light-v8 {
  color: $g-color-gray-light-v8 !important;

  &--hover:hover {
    color: $g-color-gray-light-v8 !important;
  }
}

.g-color-gray-light-v9 {
  color: $g-color-gray-light-v9 !important;

  &--hover:hover {
    color: $g-color-gray-light-v9 !important;
  }
}

.g-theme-color-gray-light-v10 {
  color: $g-theme-color-gray-light-v10 !important;
}

.g-theme-color-gray-dark-v1 {
  color: $g-theme-color-gray-dark-v1 !important;

  &--hover:hover {
    color: $g-theme-color-gray-dark-v1 !important;
  }
}

/* Background */
.g-theme-bg-gray-light-v1 {
  background-color: $g-theme-color-gray-light-v1 !important;

  &--hover:hover {
    background-color: $g-theme-color-gray-light-v1 !important;
  }
}

/* Border */
.g-brd-primary {
  &--hover:hover {
    border-color: $g-color-primary !important;
  }
}

/* Info blocks */
.u-info-v2-2__item::after,
.u-info-v2-2__item::before {
  border-color: rgba($g-color-white, .2);
}

/* Accordion */
.card {
  background-color: transparent;
}

.card-header > a {
  color: $g-theme-color-gray-dark-v1;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:not(.collapsed) {
    color: $g-color-primary;
    text-decoration: none;
    border-color: $g-color-primary !important;
  }
}
