---
title: Social HackDay
---
/ Promo Block
/ Promo Block
%section.g-pos-rel
  / Promo Block - Slider
  .js-carousel{"data-autoplay" => "true", "data-fade" => "true", "data-infinite" => "true", "data-speed" => "5000"}
    .js-slide.g-min-height-600.g-bg-cover.g-bg-pos-top-center.g-bg-img-hero.g-bg-black-opacity-0_3--after{"data-calc-target" => "#js-header", :style => "background-image: url(/assets/images/cover-bg.jpg);"}
    .js-slide.g-min-height-600.g-bg-cover.g-bg-pos-top-center.g-bg-img-hero.g-bg-black-opacity-0_3--after{"data-calc-target" => "#js-header", :style => "background-image: url(/assets/images/cover-bg2.jpg);"}
    .js-slide.g-min-height-600.g-bg-cover.g-bg-pos-top-center.g-bg-img-hero.g-bg-black-opacity-0_3--after{"data-calc-target" => "#js-header", :style => "background-image: url(/assets/images/cover-bg3.jpg);"}
    .js-slide.g-min-height-600.g-bg-cover.g-bg-pos-top-center.g-bg-img-hero.g-bg-black-opacity-0_3--after{"data-calc-target" => "#js-header", :style => "background-image: url(/assets/images/cover-bg4.jpg);"}
  / End Promo Block - Slider
  / Promo Block Content
  .g-absolute-centered
    .container.text-center
      %h2.h4.d-inline-block.g-brd-bottom.g-brd-2.g-brd-white.g-color-white.g-font-weight-600.text-uppercase.g-pb-5 Hack the social issues
      %h3.g-color-white.g-font-weight-700.g-font-size-38.g-font-size-50--md.text-uppercase.g-mb-38 プロジェクトを持ち込んでみんなで作ろう
      %a.btn.btn-lg.u-btn-outline-white.g-font-weight-600.g-font-size-13.text-uppercase.g-rounded-50.g-px-25.g-py-15.mx-2{:href => "#!"} プロジェクトをみる
      %a.btn.btn-lg.u-btn-primary.g-font-weight-600.g-font-size-13.text-uppercase.g-rounded-50.g-px-25.g-py-15.mx-2{:href => "#!"} 参加する
  / End Promo Block Content
/ End Promo Block
/ Icon Blocks
%section.g-py-100
  .container
    .row.no-gutters
      %header#about.u-heading-v2-3--bottom.g-brd-primary.g-mb-20
        %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase Social Hack Day とは？
      %p.g-font-size-16.g-mb-30
        あなたは、何か課題にぶつかったとき、「誰かがやればいいのに」という人ですか？それとも、「<strong>よし、自分で解決してみよう</strong>」と思う人ですか？私達 Code for Japan は、たとえそれが解決困難に見えようとも、自分の手を動かして解決策を探る人たちに共感します。
        %br
        Social Hack Day とは、何かやりたい人、やっている人がプロジェクトを持ち込んで、仲間を募り、みんなで手を動かしながらサービスをつくりあげる One day ハッカソンです。ハッカソンとは言っても、技術者やデザイナーなど、特定のスキルのある人だけしか参加できないイベントではありません。この日でプロトタイプを作り上げて終わりというものでもなく、継続的なものです。持ち込むものは新しいアイデアでなくてもかまいません。自分のやっていることを皆に伝え、共感をもってくれそうな仲間を集め、仲間が見つかったら一緒に作ってみる。1日頑張って、アウトプットができたら発表してみんなで祝う、「<strong>ともに考え、ともにつくる</strong>」場です。
      .col-lg-4.g-px-40.g-mb-50.g-mb-0--lg
        / Icon Blocks
        .text-center
          %span.d-inline-block.u-icon-v3.u-icon-size--xl.g-bg-primary.g-color-white.rounded-circle.g-mb-30
            %i.icon-finance-086.u-line-icon-pro
          %h3.h5.g-color-gray-dark-v2.g-font-weight-600.text-uppercase.mb-3 2ヶ月に1回の開発デー
          %p.mb-0 2ヶ月に1回のペースで集まり、継続的に開発を続けます。誰でも新しいアイデアやプロジェクトを持ち込み、仲間を集めて作業を行なうことができます。
        / End Icon Blocks
      .col-lg-4.g-brd-left--lg.g-brd-gray-light-v4.g-px-40.g-mb-50.g-mb-0--lg
        / Icon Blocks
        .text-center
          %span.d-inline-block.u-icon-v3.u-icon-size--xl.g-bg-primary.g-color-white.rounded-circle.g-mb-30
            %i.icon-finance-196.u-line-icon-pro
          %h3.h5.g-color-gray-dark-v2.g-font-weight-600.text-uppercase.mb-3 オンラインで参加可能
          %p.mb-0 ハックデーにはオンラインで参加をすることも可能です。興味があるプロジェクトがあったら、チャットなどを通じて開発に参加することが可能です。
        / End Icon Blocks
      .col-lg-4.g-brd-left--lg.g-brd-gray-light-v4.g-px-40
        / Icon Blocks
        .text-center
          %span.d-inline-block.u-icon-v3.u-icon-size--xl.g-bg-primary.g-color-white.rounded-circle.g-mb-30
            %i.icon-finance-147.u-line-icon-pro
          %h3.h5.g-color-gray-dark-v2.g-font-weight-600.text-uppercase.mb-3 オープンなプロジェクト
          %p.mb-0 興味のあるプロジェクトを見つけたら、ぜひ参加しましょう。プロジェクトリストに参加の方法が書かれています。
        / End Icon Blocks
/ Timeline Block
%section.g-py-40
  .container
    .u-heading-v1-4.g-bg-main.g-brd-primary.g-mb-20.text-center
      %h2.h3.u-heading-v1__title イベントスケジュール
    / Icon Blocks
    %ul.row.list-inline.u-info-v9-1.mb-0
      %li.col-md-3.list-inline-item.g-mx-0.g-mb-30
        / Icon Blocks
        .u-block-hover.text-center.g-px-20
          .g-mb-5
            %span.u-icon-v1.g-width-85.g-height-85.g-color-main.g-font-size-50.rounded-circle
              %i.icon-education-024.u-line-icon-pro
          .g-mb-25
            %span.u-icon-v2.u-shadow-v22.g-width-25.g-height-25.g-color-primary.g-bg-white.g-font-size-9.rounded-circle
              %i.fa.fa-check
          %h3.g-color-primary.g-font-weight-600.g-font-size-17.text-uppercase.mb-3
            %span.g-color-main.g-font-weight-700 01.
            チェックイン
          %p
            簡単なイントロダクションの後、まずはどんな人達が会場にいるか、みんなで自己紹介をします。ネームカードには、好きなスキルシールを使ってデコレーションしちゃおう！
        / End Icon Blocks
      %li.col-md-3.list-inline-item.g-mx-0.g-mb-30
        / Icon Blocks
        .u-block-hover.text-center.g-px-20
          .g-mb-5
            %span.u-icon-v1.g-width-85.g-height-85.g-color-main.g-font-size-50.rounded-circle
              %i.icon-education-024.u-line-icon-pro
          .g-mb-25
            %span.u-icon-v2.u-shadow-v22.g-width-25.g-height-25.g-color-primary.g-bg-white.g-font-size-9.rounded-circle
              %i.fa.fa-check
          %h3.g-color-primary.g-font-weight-600.g-font-size-17.text-uppercase.mb-3
            %span.g-color-main.g-font-weight-700 02.
            ショートプレゼン
          %p
            代表者が、3分以内でマイプロジェクトを紹介します。
            %br
            あなたは何をしたいですか？
            %br
            なぜそれをしたいのですか？
            %br
            どんな良いことが起こりますか？
        / End Icon Blocks
      %li.col-md-3.list-inline-item.g-mx-0.g-mb-30
        / Icon Blocks
        .u-block-hover.text-center.g-px-20
          .g-mb-5
            %span.u-icon-v1.g-width-85.g-height-85.g-color-main.g-font-size-50.rounded-circle
              %i.icon-education-073.u-line-icon-pro
          .g-mb-25
            %span.u-icon-v2.u-shadow-v22.g-width-25.g-height-25.g-color-primary.g-bg-white.g-font-size-9.rounded-circle
              %i.fa.fa-check
          %h3.g-color-primary.g-font-weight-600.g-font-size-17.text-uppercase.mb-3
            %span.g-color-main.g-font-weight-700 03.
            ランチ＆開発
          %p
            みんなで参加したいプロジェクトに集まって、ランチを楽しんだあとにもくもくと開発をしよう！
            %br
            仲間が集まらなかった場合も気落ちしないで！他のチームに参加しても良いし、自分でもくもく作業を続けてもかいません。
        / End Icon Blocks
      %li.col-md-3.list-inline-item.g-mx-0.g-mb-30
        / Icon Blocks
        .u-block-hover.text-center.g-px-20
          .g-mb-5
            %span.u-icon-v1.g-width-85.g-height-85.g-color-main.g-font-size-50.rounded-circle
              %i.icon-communication-180.u-line-icon-pro
          .g-mb-25
            %span.u-icon-v2.u-shadow-v22.g-width-25.g-height-25.g-color-primary.g-bg-white.g-font-size-9.rounded-circle
              %i.fa.fa-check
          %h3.g-color-primary.g-font-weight-600.g-font-size-17.text-uppercase.mb-3
            %span.g-color-main.g-font-weight-700 04.
            成果発表
          %p
            時間になったら、どんなことを行なったのかみんなで発表しよう！その日のうちに動くものができなくても大丈夫。集まったメンバーでその後も継続的に活動する方法を考えよう。最後にみんなでお祝いしよう。
        / End Icon Blocks
/ End Timeline Block
/ About Our Company
%section.1g-bg-secondary.g-py-100
  .container
    .row
      .col-lg-6.align-self-center.g-mb-100.g-mb-0--lg
        %header.u-heading-v2-3--bottom.g-brd-primary.g-mb-20
          %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase About Our Company
        %p.g-font-size-16.g-mb-30 Build best responsive template with Unify 2 dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas moles.
        %ul.list-unstyled.g-color-gray-dark-v4.mb-0
          %li.d-flex.g-mb-10
            %i.icon-check.g-color-primary.g-mt-5.g-mr-10
            Included Over 2000+ UI Components
          %li.d-flex.g-mb-10
            %i.icon-check.g-color-primary.g-mt-5.g-mr-10
            Beautiful Eye Catching Demos
          %li.d-flex.g-mb-10
            %i.icon-check.g-color-primary.g-mt-5.g-mr-10
            Over 30+ Beautiful Thematic Examples
          %li.d-flex.g-mb-10
            %i.icon-check.g-color-primary.g-mt-5.g-mr-10
            Semantic HTML5/CSS3 Codes
      .col-lg-6.g-bg-img-hero.g-pos-rel{:style => "background-image: url(../../assets/img/maps/map3.png);"}
        .g-absolute-centered.text-center.w-100.g-px-40
          %h2.h1.g-color-gray-light-v2.g-font-weight-600.g-letter-spacing-0_5
            Unify is
            %span.u-text-animation.u-text-animation--typing just
            %span.typed-cursor |
/ End About Our Company
%hr.g-brd-gray-light-v4.my-0/
/ Our Recent Projects
%section.g-py-100
  .container
    %header.g-mb-50
      .u-heading-v2-3--bottom.g-brd-primary.g-mb-20
        %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase Our Recent Projects
      %p.g-font-size-16 Included Over 2000+ UI Components tvero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas moles.
    .row
      .col-lg-4.col-md-6.g-mb-30.g-mb-0--lg
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img6.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Nulla ipsum dolor sit
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img12.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +21
      .col-lg-4.col-md-6.g-mb-30.g-mb-0--lg
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img2.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Adipiscing elitut
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img4.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +8
      .col-lg-4.col-md-6
        %article.u-block-hover.u-shadow-v21.rounded
          %figure.u-bg-overlay.g-bg-black-opacity-0_4--after
            %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "/assets/images/img-temp/400x270/img1.jpg"}/
          %header.u-bg-overlay__inner.g-pos-abs.g-top-30.g-right-30.g-left-30.g-color-white
            %h3.h4
              %a.g-color-white{:href => "#!"} Hac habitasse platea
            %p Consectetur adipiscing elitut eleifend nisl
          %ul.list-inline.u-bg-overlay__inner.g-pos-abs.g-bottom-10.g-left-30.g-opacity-0_8
            %li.list-inline-item
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            %li.list-inline-item.g-ml-minus-20
              .g-brd-around.g-brd-2.g-brd-white.rounded-circle
                %img.g-width-30.g-height-30.rounded-circle{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img6.jpg"}/
            %li.list-inline-item.g-font-weight-600.g-color-white +13
/ End Our Recent Projects
/ Most Quality Solution
%section.dzsparallaxer.auto-init.height-is-based-on-content.use-loading.mode-scroll.loaded.dzsprx-readyall{"data-options" => "{direction: \"reverse\", settings_mode_oneelement_max_offset: \"150\"}"}
  / Parallax Image
  .divimage.dzsparallaxer--target.w-100.u-bg-overlay.g-bg-img-hero.g-bg-white-opacity-0_7--after{:style => "height: 140%; background-image: url(\"/assets/images/img-temp/1920x1080/img2.jpg\"); transform: translate3d(0px, -267.984px, 0px);"}
  / End Parallax Image
  .container.u-bg-overlay__inner.g-py-150--md.g-py-80
    .row
      / Section Content
      .col-lg-6.order-2.order-sm-1.g-mb-0.g-mb-50--sm.g-mb-0--lg
        .u-heading-v2-3--bottom.g-brd-primary.g-mb-30
          %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase Most Quality Solution
        %p.g-font-size-16.g-line-height-2.g-mb-30 Morbi a suscipit ipsum. Suspendisse mollis libero ante. Pellentesque finibus convallis nulla vel placerat. Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. Ullam elementum tincidunt massa, a pulvinar leo ultricies ut.
        .g-mb-30
          %img.u-block-hover__main--grayscale.g-width-100.g-opacity-0_6.g-mr-40.g-mb-10.g-mb-0--sm{:alt => "Image description", :src => "/assets/images/img-temp/200x100/img8.png"}/
          %img.u-block-hover__main--grayscale.g-width-100.g-opacity-0_6.g-mr-40.g-mb-10.g-mb-0--sm{:alt => "Image description", :src => "/assets/images/img-temp/200x100/img6.png"}/
          %img.u-block-hover__main--grayscale.g-width-100.g-opacity-0_6{:alt => "Image description", :src => "/assets/images/img-temp/200x100/img3.png"}/
        %a.btn.btn-xl.u-btn-primary.text-uppercase.g-font-weight-600.g-font-size-12.rounded.g-mr-15.g-mb-15.g-mb-0--sm{:href => "#!"} Buy Full Version
        %small.d-block.d-sm-inline-block.g-color-gray-dark-v5.g-font-size-12 *Exclusive item on Wrapboostrap Marketpalce
      / End Section Content
      / Video Icon
      .col-lg-6.order-1.order-sm-2.align-self-center.text-center.g-pos-rel.g-mb-40.g-mb-0--sm
        %a.js-fancybox.d-block.g-pos-rel{:href => "https://vimeo.com/167434033", :title => "Lightbox Gallery"}
          %span.u-icon-v3.u-icon-size--xl.u-block-hover--scale.u-shadow-v24.g-bg-white.g-color-gray-dark-v1.g-color-primary--hover.g-font-size-20.rounded-circle.g-cursor-pointer.g-mb-10
            %i.fa.fa-play.g-pos-rel.g-left-2
        %p.g-color-gray-dark-v5 Watch our 2 min video.
      / End Video Icon
/ End Most Quality Solution
/ Our Environment
%section.g-py-100
  .container
    .row
      / Carousel
      .col-lg-6.g-mb-50.g-mb-0--lg
        #carouselCus1.js-carousel.text-center.g-mb-20.slick-initialized.slick-slider{"data-arrow-left-classes" => "fa fa-angle-left g-left-0 rounded-right", "data-arrow-right-classes" => "fa fa-angle-right g-right-0 rounded-left", "data-arrows-classes" => "u-arrow-v1 g-absolute-centered--y g-width-50 g-height-50 g-font-size-20 g-bg-white g-color-gray-dark-v5 g-color-primary--hover g-mt-minus-10", "data-infinite" => "true", "data-lazy-load" => "progressive", "data-nav-for" => "#carouselCus2"}
          .js-prev.u-arrow-v1.g-absolute-centered--y.g-width-50.g-height-50.g-font-size-20.g-bg-white.g-color-gray-dark-v5.g-color-primary--hover.g-mt-minus-10.fa.fa-angle-left.g-left-0.rounded-right.slick-arrow{:style => ""}
          .slick-list.draggable
            .slick-track{:style => "opacity: 1; width: 5940px; transform: translate3d(-540px, 0px, 0px);"}
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-1", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img7.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
              .js-slide.slick-slide.slick-current.slick-active{"aria-hidden" => "false", "data-slick-index" => "0", :style => "width: 540px; height: auto;", :tabindex => "0"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img6.jpg", :tabindex => "0", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img6.jpg"}/
              .js-slide.slick-slide{"aria-hidden" => "true", "data-slick-index" => "1", :style => "width: 540px; height: auto;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img3.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img3.jpg"}/
              .js-slide.slick-slide{"aria-hidden" => "true", "data-slick-index" => "2", :style => "width: 540px; height: auto;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img4.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img4.jpg"}/
              .js-slide.slick-slide{"aria-hidden" => "true", "data-slick-index" => "3", :style => "width: 540px; height: auto;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img5.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img5.jpg"}/
              .js-slide.slick-slide{"aria-hidden" => "true", "data-slick-index" => "4", :style => "width: 540px; height: auto;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img7.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "5", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img6.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img6.jpg"}/
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "6", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img3.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img3.jpg"}/
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "7", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img4.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img4.jpg"}/
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "8", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img5.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img5.jpg"}/
              .js-slide.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "9", :style => "width: 540px;", :tabindex => "-1"}
                %a.js-fancybox.d-block.g-pos-rel{"data-blur-bg" => "true", "data-close-effect" => "bounceOutDown", "data-close-speed" => "1000", "data-open-effect" => "bounceInDown", "data-open-speed" => "1000", "data-rel" => "lightbox-gallery--08-1", :href => "/assets/images/img-temp/600x450/img7.jpg", :tabindex => "-1", :title => "Lightbox Gallery"}
                  %img.img-fluid.w-100.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
          .js-next.u-arrow-v1.g-absolute-centered--y.g-width-50.g-height-50.g-font-size-20.g-bg-white.g-color-gray-dark-v5.g-color-primary--hover.g-mt-minus-10.fa.fa-angle-right.g-right-0.rounded-left.slick-arrow{:style => ""}
        #carouselCus2.js-carousel.text-center.u-carousel-v3.g-mx-minus-10.slick-initialized.slick-slider{"data-center-mode" => "true", "data-infinite" => "true", "data-is-thumbs" => "true", "data-lazy-load" => "progressive", "data-nav-for" => "#carouselCus1", "data-slides-show" => "4"}
          .slick-list.draggable{:style => "padding: 0px;"}
            .slick-track{:style => "opacity: 1; width: 2100px; transform: translate3d(-420px, 0px, 0px);"}
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-5", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img6.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-4", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img3.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-3", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img4.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-2", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img5.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned.slick-active{"aria-hidden" => "false", "data-slick-index" => "-1", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-current.slick-active.slick-center{"aria-hidden" => "false", "data-slick-index" => "0", :style => "width: 140px; height: auto;", :tabindex => "0"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img6.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-active{"aria-hidden" => "false", "data-slick-index" => "1", :style => "width: 140px; height: auto;", :tabindex => "0"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img3.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-active{"aria-hidden" => "false", "data-slick-index" => "2", :style => "width: 140px; height: auto;", :tabindex => "0"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img4.jpg"}/
              .js-slide.g-px-10.slick-slide{"aria-hidden" => "true", "data-slick-index" => "3", :style => "width: 140px; height: auto;", :tabindex => "0"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img5.jpg"}/
              .js-slide.g-px-10.slick-slide{"aria-hidden" => "true", "data-slick-index" => "4", :style => "width: 140px; height: auto;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned.slick-center{"aria-hidden" => "true", "data-slick-index" => "5", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img6.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "6", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img3.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "7", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img4.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "8", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img5.jpg"}/
              .js-slide.g-px-10.slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "9", :style => "width: 140px;", :tabindex => "-1"}
                %img.img-fluid.g-cursor-pointer.rounded{:alt => "Image description", :src => "/assets/images/img-temp/600x450/img7.jpg"}/
      / End Carousel
      / Section Content
      .col-lg-6.align-self-center.g-pl-30--lg
        %header.g-mb-30
          .u-heading-v2-3--bottom.g-brd-primary.g-mb-30
            %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase Our Environment
          %p.g-font-size-16
            Unify
            %strong creative
            technology company providing key digital services. Focused on helping our clients to build a
            %strong successful
            business on web and mobile.
        .g-mb-30
          %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          %p Passages are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        %a.btn.btn-xl.u-btn-primary.text-uppercase.g-font-weight-600.g-font-size-12.rounded.g-mr-15.g-mb-10.g-mb-0--sm{:href => "#!"} Check It Now
        %small.d-block.d-sm-inline-block.g-color-gray-dark-v5.g-font-size-12 *Sponsored by Unify team in Htmlstream.
      / End Section Content
/ End Our Environment
/ Counters
%section.g-brd-top.g-brd-bottom.g-brd-gray-light-v4.g-pt-50
  .container
    .row.text-center.text-uppercase
      .col-lg-3.col-sm-6.g-brd-right.g-brd-gray-light-v4.g-mb-50
        .js-counter.g-color-gray-dark-v2.g-font-size-35.g-font-weight-300.g-mb-7 52147
        %h4.h6.g-color-gray-dark-v5 Code Lines
      .col-lg-3.col-sm-6.g-brd-right--lg.g-brd-gray-light-v4.g-mb-50
        .js-counter.g-color-gray-dark-v2.g-font-size-35.g-font-weight-300.g-mb-7 24583
        %h4.h6.g-color-gray-dark-v5 Projects
      .col-lg-3.col-sm-6.g-brd-right.g-brd-gray-light-v4.g-mb-50
        .js-counter.g-color-gray-dark-v2.g-font-size-35.g-font-weight-300.g-mb-7 7348
        %h4.h6.g-color-gray-dark-v5 Working Hours
      .col-lg-3.col-sm-6.g-mb-50
        .js-counter.g-color-gray-dark-v2.g-font-size-35.g-font-weight-300.g-mb-7 87904
        %h4.h6.g-color-gray-dark-v5 Job Offers
/ End Counters
/ Latest News
%section.g-py-100
  .container
    %header.g-mb-50
      .u-heading-v2-3--bottom.g-brd-primary.g-mb-20
        %h2.h4.u-heading-v2__title.g-color-gray-dark-v2.g-font-weight-600.text-uppercase Our Latest News
      %p.g-font-size-16 Unify creative technology company providing key digital services. At vero eoset dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas moles.
    .row
      .col-lg-4.g-mb-30.g-mb-0--lg
        / Article
        %article.u-shadow-v11.rounded
          .g-pa-30
            %h3.g-font-weight-300.g-mb-15
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} Focused on helping our clients to build a great business
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
          .media.g-font-size-12.g-brd-top.g-brd-gray-light-v4.g-pa-15-30
            %img.d-flex.mr-2.rounded-circle.g-width-20.g-height-20{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img5.jpg"}/
            .media-body.align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} Kathy Reyes
            .align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover.g-mr-10{:href => "#!"}
                %i.icon-bubbles.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                24
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"}
                %i.icon-eye.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                108
        / End Article
      .col-lg-4.g-mb-30.g-mb-0--lg
        / Article
        %article.u-shadow-v11.rounded
          .g-pa-30
            %h3.g-font-weight-300.g-mb-15
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} We build your website to realise your vision, project and more
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
          .media.g-font-size-12.g-brd-top.g-brd-gray-light-v4.g-pa-15-30
            %img.d-flex.mr-2.rounded-circle.g-width-20.g-height-20{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img4.jpg"}/
            .media-body.align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} Anastasia Sh.
            .align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover.g-mr-10{:href => "#!"}
                %i.icon-bubbles.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                16
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"}
                %i.icon-eye.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                124
        / End Article
      .col-lg-4
        / Article
        %article.u-shadow-v11.rounded
          .g-pa-30
            %h3.g-font-weight-300.g-mb-15
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} Praesentium to website realise imperdiet demore elementum
            %p Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp imperdiet molestie est volutpat at. Sed viverra cursus nibh.
          .media.g-font-size-12.g-brd-top.g-brd-gray-light-v4.g-pa-15-30
            %img.d-flex.mr-2.rounded-circle.g-width-20.g-height-20{:alt => "Image description", :src => "/assets/images/img-temp/100x100/img7.jpg"}/
            .media-body.align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"} James Dalglish
            .align-self-center
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover.g-mr-10{:href => "#!"}
                %i.icon-bubbles.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                41
              %a.u-link-v5.g-color-gray-dark-v2.g-color-primary--hover{:href => "#!"}
                %i.icon-eye.g-color-gray-dark-v5.g-pos-rel.g-top-1.mr-1
                219
        / End Article
/ End Latest News
/ Call To Action
%section.g-bg-primary.g-color-white.g-pa-30{:style => "background-image: url(../../assets/img/bg/pattern5.png);"}
  .d-md-flex.justify-content-md-center.text-center
    .align-self-md-center
      %p.lead.g-font-weight-400.g-mr-20--md.g-mb-15.g-mb-0--md We offer best in class service for your needs
    .align-self-md-center
      %a.btn.btn-lg.u-btn-white.text-uppercase.g-font-weight-600.g-font-size-12{:href => "https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream", :target => "_blank"} Purchase Now
/ End Call To Action
/ Footer
#contacts-section.g-bg-black-opacity-0_9.g-color-white-opacity-0_8.g-py-60
  .container
    .row
      / Footer Content
      .col-lg-3.col-md-6.g-mb-40.g-mb-0--lg
        .u-heading-v2-3--bottom.g-brd-white-opacity-0_8.g-mb-20
          %h2.u-heading-v2__title.h6.text-uppercase.mb-0 About Us
        %p About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.
      / End Footer Content
      / Footer Content
      .col-lg-3.col-md-6.g-mb-40.g-mb-0--lg
        .u-heading-v2-3--bottom.g-brd-white-opacity-0_8.g-mb-20
          %h2.u-heading-v2__title.h6.text-uppercase.mb-0 Latest Posts
        %article
          %h3.h6.g-mb-2
            %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Incredible template
          .small.g-color-white-opacity-0_6 May 8, 2017
        %hr.g-brd-white-opacity-0_1.g-my-10/
        %article
          %h3.h6.g-mb-2
            %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} New features
          .small.g-color-white-opacity-0_6 June 23, 2017
        %hr.g-brd-white-opacity-0_1.g-my-10/
        %article
          %h3.h6.g-mb-2
            %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} New terms and conditions
          .small.g-color-white-opacity-0_6 September 15, 2017
      / End Footer Content
      / Footer Content
      .col-lg-3.col-md-6.g-mb-40.g-mb-0--lg
        .u-heading-v2-3--bottom.g-brd-white-opacity-0_8.g-mb-20
          %h2.u-heading-v2__title.h6.text-uppercase.mb-0 Useful Links
        %nav.text-uppercase1
          %ul.list-unstyled.g-mt-minus-10.mb-0
            %li.g-pos-rel.g-brd-bottom.g-brd-white-opacity-0_1.g-py-10
              %h4.h6.g-pr-20.mb-0
                %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} About Us
                %i.fa.fa-angle-right.g-absolute-centered--y.g-right-0
            %li.g-pos-rel.g-brd-bottom.g-brd-white-opacity-0_1.g-py-10
              %h4.h6.g-pr-20.mb-0
                %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Portfolio
                %i.fa.fa-angle-right.g-absolute-centered--y.g-right-0
            %li.g-pos-rel.g-brd-bottom.g-brd-white-opacity-0_1.g-py-10
              %h4.h6.g-pr-20.mb-0
                %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Our Services
                %i.fa.fa-angle-right.g-absolute-centered--y.g-right-0
            %li.g-pos-rel.g-brd-bottom.g-brd-white-opacity-0_1.g-py-10
              %h4.h6.g-pr-20.mb-0
                %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Latest Jobs
                %i.fa.fa-angle-right.g-absolute-centered--y.g-right-0
            %li.g-pos-rel.g-py-10
              %h4.h6.g-pr-20.mb-0
                %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Contact Us
                %i.fa.fa-angle-right.g-absolute-centered--y.g-right-0
      / End Footer Content
      / Footer Content
      .col-lg-3.col-md-6
        .u-heading-v2-3--bottom.g-brd-white-opacity-0_8.g-mb-20
          %h2.u-heading-v2__title.h6.text-uppercase.mb-0 Our Contacts
        %address.g-bg-no-repeat.g-font-size-12.mb-0{:style => "background-image: url(../../assets/img/maps/map2.png);"}
          / Location
          .d-flex.g-mb-20
            .g-mr-10
              %span.u-icon-v3.u-icon-size--xs.g-bg-white-opacity-0_1.g-color-white-opacity-0_6
                %i.fa.fa-map-marker
            %p.mb-0
              795 Folsom Ave, Suite 600,
              %br/
              San Francisco, CA 94107 795
          / End Location
          / Phone
          .d-flex.g-mb-20
            .g-mr-10
              %span.u-icon-v3.u-icon-size--xs.g-bg-white-opacity-0_1.g-color-white-opacity-0_6
                %i.fa.fa-phone
            %p.mb-0
              (+123) 456 7890
              %br/
              (+123) 456 7891
          / End Phone
          / Email and Website
          .d-flex.g-mb-20
            .g-mr-10
              %span.u-icon-v3.u-icon-size--xs.g-bg-white-opacity-0_1.g-color-white-opacity-0_6
                %i.fa.fa-globe
            %p.mb-0
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "mailto:info@htmlstream.com"} info@htmlstream.com
              %br/
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} www.htmlstream.com
          / End Email and Website
      / End Footer Content
/ End Footer
/ Copyright Footer
%footer.g-bg-gray-dark-v1.g-color-white-opacity-0_8.g-py-20
  .container
    .row
      .col-md-8.text-center.text-md-left.g-mb-10.g-mb-0--md
        .d-lg-flex
          %small.d-block.g-font-size-default.g-mr-10.g-mb-10.g-mb-0--md 2018 Â© All Rights Reserved.
          %ul.u-list-inline
            %li.list-inline-item
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Privacy Policy
            %li.list-inline-item
              %span |
            %li.list-inline-item
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Terms of Use
            %li.list-inline-item
              %span |
            %li.list-inline-item
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} License
            %li.list-inline-item
              %span |
            %li.list-inline-item
              %a.g-color-white-opacity-0_8.g-color-white--hover{:href => "#!"} Support
      .col-md-4.align-self-center
        %ul.list-inline.text-center.text-md-right.mb-0
          %li.list-inline-item.g-mx-10{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-facebook
          %li.list-inline-item.g-mx-10{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-skype
          %li.list-inline-item.g-mx-10{"data-original-title" => "Linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-linkedin
          %li.list-inline-item.g-mx-10{"data-original-title" => "Pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-pinterest
          %li.list-inline-item.g-mx-10{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-twitter
          %li.list-inline-item.g-mx-10{"data-original-title" => "Dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %a.g-color-white-opacity-0_5.g-color-white--hover{:href => "#!"}
              %i.fa.fa-dribbble
/ End Copyright Footer
%a.js-go-to.u-go-to-v1.animated.js-animation-was-fired.zoomIn{"data-compensation" => "#js-header", "data-offset-top" => "400", "data-position" => "{\r\n     \"bottom\": 15,\r\n     \"right\": 15\r\n   }", "data-show-effect" => "zoomIn", "data-type" => "fixed", :href => "#!", :style => "display: inline-block; position: fixed; bottom: 15px; right: 15px;"}
  %i.hs-icon.hs-icon-arrow-top

%a.js-go-to.u-go-to-v1{"data-compensation" => "#js-header", "data-offset-top" => "400", "data-position" => "{\r\n     \"bottom\": 15,\r\n     \"right\": 15\r\n   }", "data-show-effect" => "zoomIn", "data-type" => "fixed", :href => "#!"}
  %i.hs-icon.hs-icon-arrow-top
