---
title: Welcome to Middleman
---
/ Section Content
%section#home.u-bg-overlay.g-height-100vh.g-bg-img-hero.g-bg-black-opacity-0_3--after.g-py-20{:style => "background-image: url(assets/images/img-temp/1732x1155/img1.jpg);"}
  .u-bg-overlay__inner.g-absolute-centered--y.w-100
    .container.g-z-index-1.g-py-100
      .row
        .col-md-6.col-lg-5.align-self-center
          .g-bg-white.g-rounded-5.g-pa-15.g-pa-30--md
            %h3.h6.g-color-black.g-font-weight-600.text-uppercase.text-center.g-mb-25 Calculate shipping cost
            / Promo Block - Form
            %form
              .form-group.g-mb-10.g-mb-20--md
                %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Start Location", :type => "text"}/
              .form-group.g-mb-10.g-mb-20--md
                %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "End Location", :type => "text"}/
              .form-group.g-mb-10.g-mb-20--md
                %select.js-custom-select.u-select-v1.g-theme-color-gray-light-v10.g-brd-gray-light-v5.g-bg-gray-light-v5.g-rounded-4.g-pa-10{"data-close-icon" => "fa fa-sort", "data-control-classes" => "g-color-gray-dark-v2 g-bg-gray-light-v5", "data-disable-search" => "true", "data-open-icon" => "fa fa-sort", "data-placeholder" => "Cargo Type", :style => "width: 100%;"}
                  %option
                  %option{:value => "1"} 1
                  %option{:value => "2"} 2
                  %option{:value => "3"} 3
              .row
                .col-md-4
                  .form-group.g-mb-10.g-mb-20--md
                    %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Height", :type => "text"}/
                .col-md-4
                  .form-group.g-mb-10.g-mb-20--md
                    %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Width", :type => "text"}/
                .col-md-4
                  .form-group.g-mb-10.g-mb-20--md
                    %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Length", :type => "text"}/
              .row
                .col-md-6
                  .form-group.g-mb-10.g-mb-20--md
                    %input.form-control.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Name", :type => "text"}/
                .col-md-6
                  .form-group.g-mb-10.g-mb-20--md
                    %input.form-control.g-theme-color-gray-light-v10.g-placeholder-inherit.g-brd-gray-light-v5.g-bg-gray-light-v5.g-bg-gray-light-v5--focus.g-px-10.g-py-12{:placeholder => "Email", :type => "email"}/
              %button.btn.btn-md.btn-block.text-uppercase.u-btn-primary.g-font-weight-700.g-font-size-12.g-brd-none.g-rounded-4.g-py-12.g-px-15{:type => "submit"} Calculate
            / End Promo Block - Form
        / Promo Block - Info
        .col-md-6.col-lg-7.g-hidden-sm-down.align-self-center.g-color-white
          %h2.text-uppercase.g-line-height-1.g-font-weight-700.g-font-size-40.g-font-size-56--md.g-color-white.g-mb-30
            Planning
            &amp; Shiping
          %h3.text-uppercase.g-font-weight-700.g-font-size-18.g-color-white.g-mb-20 Delivering anything to anywhere
          %p.g-font-size-default.g-color-white-opacity-0_8.g-mb-35 Maecenas lacus magna, pretium in congue a, pharetra at lacus. Nulla neque justo, sodales vitae dui non, imperdiet luctus libero.
          %a.btn.btn-md.text-uppercase.u-btn-primary.g-font-weight-700.g-font-size-12.g-brd-none.g-rounded-4.g-py-12.g-px-25{:href => "#!"} Learn more
        / End Promo Block - Info
/ End Section Content


/ Section Content
%section.g-py-50
  .container.text-center.text-md-left.g-max-width-960
    .row.justify-content-md-around
      .col-md-8.align-self-md-center
        %h2.text-uppercase.g-line-height-1_1.g-font-weight-700.g-font-size-32
          Order now and get
          %span.g-color-primary 20% off
        %p.g-mb-20.g-mb-0--md Raecenas lacus magna, pretium in congue a, pharetra at lacus imperdiet luctus libero
      .col-md-4.align-self-md-center.text-md-center
        %a.btn.btn-md.text-uppercase.u-btn-darkgray.g-font-weight-700.g-font-size-12.g-brd-none.g-rounded-4.g-py-15.g-px-15.g-px-35--md{:href => "#!"} Calculate and order
/ End Section Content
/ Section Content
%section
  .row.no-gutters
    .col-md-4.g-brd-around.g-brd-top-none.g-brd-gray-light-v4
      / Article
      %article.u-block-hover
        %figure.u-bg-overlay.g-bg-black-opacity-0_4--after.g-overflow-hidden.g-ml-minus-1--md.g-mr-minus-1--md
          %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "assets/images/img-temp/600x400/img1.jpg"}/
        .text-center.g-pa-40
          %h3.text-uppercase.g-font-weight-700.g-font-size-22.g-mb-15
            %a.g-color-gray-dark-v2.g-text-underline--none--hover{:href => "#!"} Cargo
          %p Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem
          %a.text-uppercase.g-font-weight-600.g-font-size-12{:href => "#!"} Learn More
      / End Article
    .col-md-4.g-brd-around.g-brd-top-none.g-brd-gray-light-v4.g-ml-minus-1--md.g-mr-minus-1--md
      / Article
      %article.u-block-hover
        %figure.u-bg-overlay.g-bg-black-opacity-0_4--after.g-overflow-hidden.g-ml-minus-1--md.g-mr-minus-1--md
          %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "assets/images/img-temp/600x400/img2.jpg"}/
        .text-center.g-pa-40
          %h3.text-uppercase.g-font-weight-700.g-font-size-22.g-mb-15
            %a.g-color-gray-dark-v2.g-text-underline--none--hover{:href => "#!"} Logistic services
          %p Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem
          %a.text-uppercase.g-font-weight-600.g-font-size-12{:href => "#!"} Learn More
      / End Article
    .col-md-4.g-brd-around.g-brd-top-none.g-brd-gray-light-v4
      / Article
      %article.u-block-hover
        %figure.u-bg-overlay.g-bg-black-opacity-0_4--after.g-overflow-hidden.g-ml-minus-1--md.g-mr-minus-1--md
          %img.img-fluid.w-100.u-block-hover__main--zoom-v1{:alt => "Image description", :src => "assets/images/img-temp/600x400/img3.jpg"}/
        .text-center.g-pa-40
          %h3.text-uppercase.g-font-weight-700.g-font-size-22.g-mb-15
            %a.g-color-gray-dark-v2.g-text-underline--none--hover{:href => "#!"} Storage
          %p Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem
          %a.text-uppercase.g-font-weight-600.g-font-size-12{:href => "#!"} Learn More
      / End Article
/ End Section Content
