---
title: Projects
---
= partial "partials/project_list"

%section.g-py-20
  .container
    %h2 プロジェクトの登録方法
    %p 下記フォームより、登録を行ってください。登録ができるのは、直近のソーシャルハックデーに参加予定、または参加済のプロジェクトのみです。既存のプロジェクトを編集したい場合、初回投稿時に編集用のフォームが送信されますので、そちらから編集してください。リンクを紛失した、違うメンバーが更新をしたい、といったお問い合わせは、info@code4japan.org までご連絡ください。
    %strong ※サイトに反映されるまで、最大24時間かかります
    %br
    %a.btn.btn-md.u-btn-primary.rounded-0{:href => "https://goo.gl/forms/evppdfQTRf9jUjPz2", :target=>"_blank"} 登録フォーム
  
%section.g-py-20
  .container
    %h2 プロジェクトの解説ページ
    %p
      プロジェクトの概要や、参加方法など、わかりやすく整理されたページを作っておくことをおすすめします。お持ちでなければ、
      %a{:href=>"https://hackmd.io/",:target=>"_blank"} HackMD
      などの無料のページを使って作っておきましょう。
    %p
      %a{:href=>"https://hackmd.io/G7MBqpjMRZOsQihC4qgRsQ", :target=>"_blank"} プロジェクトページの例(Code for Cat プロジェクト)


