---
title: Projects
---
= partial "partials/project_list"

%section.g-py-20
  .container
    %h2 プロジェクトの登録方法
    %p 下記スプレッドシートを編集してください。登録ができるのは、直近のソーシャルハックデーに参加予定、または参加済のプロジェクトのみです。ハックデー参加時に、スタッフにGoogleアカウントを伝えて編集権限をもらってください。
    %strong ※サイトに反映されるまで、最大24時間かかります
    %br
    %a.btn.btn-md.u-btn-primary.rounded-0{:href => "https://docs.google.com/spreadsheets/d/18H2q-3b6uxvAJENm2aQmVcSph7vFpOvB49lxZ4ns1ak", :target=>"_blank"} プロジェクトフォーム
  
%section.g-py-20
  .container
    %h2 プロジェクトの解説ページ
    %p
      プロジェクトの概要や、参加方法など、わかりやすく整理されたページを作っておくことをおすすめします。お持ちでなければ、
      %a{:href=>"https://hackmd.io/",:target=>"_blank"} HackMD
      などの無料のページを使って作っておきましょう。
    %p
      %a{:href=>"https://hackmd.io/G7MBqpjMRZOsQihC4qgRsQ", :target=>"_blank"} プロジェクトページの例(Code for Cat プロジェクト)

